*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: aliceblue;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
     
}
nav{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:1px;
    background-color: #6b2e41;
    width: 100%;
    z-index: 2;
    padding: 5px;
}

.logo{
     width: 90px;
     margin: 0;
     
}
.container nav .logo{
    color: #ff004f;
}
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
   
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #704d4d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
nav form input{
    width: 100%;
    border: 0;
    outline: none;
    background:#6d4343;;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 15px ;
    border-radius: 15px;
}
#newsongs {
    padding: 30px 0;
    margin-top: -635px;
      
}
.newsongs .container{
    background: #eee6e6;
    padding-top: 1px;
}
.sub-title{
    font-size: 20px;
    font-weight: 60;
    padding: 10px;
    margin: 2px;
    color: #492424;
    text-align: center;
    display: block;
    background: #948a8a;
}
.song-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, .8fr)); height: fit-content;
    grid-gap:10px;
    margin : 8px;
}
.song{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background:#fffefe;
    
    
}
.song img{
    width:100%;
    border-radius: 5px;
    position: relative;
    display: flex;
    transition: transform 0.5s;
     

}
#song-title{
    font-size: 14px;
    color: black;
    padding: 10px 0;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.), #be8697);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;

}
.layer h3{
    font-weight: 500px;
    margin-bottom: 20px;
    color: #f7f1f1;
    font-size: 30px;
    float: top;
}
.layer a {
    margin-top: 20px;
    color: #ceb8bf;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 120px;
    height: 60px;
    align-items: center;

    text-align:center;

}
.song:hover img{
    transform: scale(1.1);
}
.song:hover .layer{
    height: 100%;
}
.btn{
     
    margin: 10px auto;
    width: fit-content;
    border: none ;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
    padding: 5px 13px;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    background: #99453a;    
}
.btn:hover{
    background: #532030; 
}
.btn2{
    background: #3c3961;
}
nav .fas{
    display: none;
}
/*-------------------fro video section------------*/
video{
    height: 60%;
    width: 100%;
    margin-bottom: 2px;
}
/*---------------contact--------*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration:none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
 
.contact-right form{
    width: 100%
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px ;
    border-radius: 15px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*-----------copyright--------*/

.copyright{
    width: 100%;
    text-align: center;
    padding:25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

nav .fas{
    display: none;
}

/*-------------------for small display------------*/
@media only screen and (max-width: 600px){
    #newsongs {
        padding: 30px 0;
        margin-top: -540px;
          
    }
    .sub-title{
        margin-top: 10px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 16px;
    }
    nav ul{
        background: #3d3235;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height:50%;
        
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin:25px;
        
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 16px;
    }
    .songs img{
        
    }
    .btn{
        font-size: 16px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size:14px;   
    }
    .nav{
        margin-bottom: 0;
    }
    .song img{
        width:100%;
        height: 28vh;
        border-radius: 0;
        display: block;
        transition: transform 0.5s;
    }
}
@media only screen and (max-width: 800px){
    #newsongs {
        padding: 0;
        margin-top: -540px;
          
    }
    
}
@media only screen and (max-width: 450px){
    #newsongs {
        padding: 0;
        margin-top: -590px;
          
    }
    .btn{
        font-size: 12px ;
    }
    .song img{
        width:100%;
        height: 19vh;
        border-radius: 0;
        display: block;
        transition: transform 0.5s;
    }
    .layer #genre{
        font-size: 19px;
    }
    .layer #artist{}

    
}